[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tweepy = "==3.5.0"
python-bittrex = "==0.2.2"
pytesseract = "==0.1.7"
python-binance = "==0.5.12"
coinmarketcap = "==4.1.1"


[dev-packages]

